.comfortscore-card {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 1em;
    margin: 0 0.5em 1em;
    position: relative;
}

.comfortscore-card::before,
.comfortscore-card::after { 
	content: "";
	position: absolute;
	top: 0%;
	right: 0%;
	width: 0px;
	height: 0px;
	opacity: 0;
}

.comfortscore-card::before {
	border-bottom: 40px solid #faa71a;
	border-right: 40px solid transparent;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
}

.comfortscore-card::after {
    border-top: 40px solid #ebf6f6;
    border-left: 40px solid transparent;
    box-shadow: 10px 0px 0px 0px #ebf6f6;
}

.comfortscore-card h3 {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: normal;
	font-family: 'nationaleregular', sans-serif;
}

.comfortscore-param-icons {
	display: flex;
	border-bottom: 2px solid #f3f5f6;
	padding: 0 0 0.5em;
	margin-bottom: 1.5em;
}

.comfortscore-param-icons img {
	display: inline-block;
	height: 24px;
	opacity: 0.5;
}
@media (min-width: 600px) {
	.comfortscore-param-icons img {
		height: 28px;
	}
}

.comfortscore-param-icons .comfortscore-label {
	font-size: 0.6875em;
	opacity: 0.6;
	text-transform: none;
}

.comfortscore-swiper-actions {
	display: flex;
	justify-content: space-around;
	margin: 1em 0 1.5em;
}

.comfortscore-btn-light {
	font-size: 11px;
	background-color: white;
	padding: 0 0.5em;
}
@media (min-width: 600px) {
	.comfortscore-btn-light {
		font-size: 13px;
		padding: 0 0.7em;
	}
}
.comfortscore-btn-light:focus {
	border-color: #02576d;
}

.comfortscore-btn-red {
	color: #ee2835;
	border-color: #ee2835;
}

.comfortscore-btn-yellow {
	border-color: #faa71a;
	color: #faa71a;
}

.comfortscore-btn-green {
	border-color: #006c5c;
	color: #006c5c;
}

.comfortscore-done::before {
	border-bottom-color: #faa71a;
	opacity: 1;
	transition: opacity 0.5s ease-out;
}

.comfortscore-will::before {
	border-bottom-color: #006c5c;
	opacity: 1;
	transition: opacity 0.5s ease-out;
}

.comfortscore-never::before {
	border-bottom-color: #ee2835;
}

.comfortscore-done::before,
.comfortscore-will::before,
.comfortscore-never::before {
	opacity: 1;
	transition: opacity 0.5s ease-out;
}

.comfortscore-done::after,
.comfortscore-will::after,
.comfortscore-never::after {
	opacity: 1;
}
