.comfortscore-container .autocomplete-container {
    /* relative position for at de absolut positionerede forslag får korrekt placering.*/
    position: relative;
    width: 100%;
    margin: 0.5em 0;
}
@media (min-width: 480px) {
    .comfortscore-container .autocomplete-container {
        width: 68%;
        margin-bottom: 0;
    }
}
@media (min-width: 900px) {
    .comfortscore-container .autocomplete-container {
        width: 31%;
        margin-top: 0;
    }
}

.comfortscore-container input[type="text"] {
    display: inline-block;
    width: 100%;
    font-family: 'nationalemedium', sans-serif;
    font-size: 1em;
    padding: 0 0.5em;
    border: none;
    border-radius: 14.5px;
    height: 1.8125em;
    position: relative;
    z-index: 2;
}
.comfortscore-container input[type="text"]:focus {
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.comfortscore-container .dawa-autocomplete-suggestions {
    margin: 0;
    padding: 1.9em 0 0;
    border-radius: 14.5px;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    -ms-overflow-style: none;
    overflow-y: auto;
    max-height: 13.4em;
    border: 1px solid rgb(214, 222, 226);
    border-top: none;
}
.comfortscore-container .dawa-autocomplete-suggestions::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

.comfortscore-container .dawa-autocomplete-suggestion {
    margin: 0;
    list-style: none;
    cursor: pointer;
    padding: 0.4em 0.6em;
    color: #02576d;
}

.comfortscore-container .dawa-autocomplete-suggestion.dawa-selected,
.comfortscore-container .dawa-autocomplete-suggestion:hover {
    background: #D6DEE2;
    //border-radius: 14.5px;
    color: black;
}
