.comfortscore-potential {
    background: #02576d;
    z-index: 1;
    margin-left: -1em;
}
@media (min-width: 480px) {
	.comfortscore-potential {
		font-size: 1.2em;
		margin: 2em 0 0 -1.2em;
	}
}
@media (min-width: 600px) {
	.comfortscore-potential {
		font-size: 1.5em;
		margin-left: -1.5em;
	}
}

.comfortscore-potential .comfortscore-score,
.comfortscore-potential .comfortscore-label {
    color: white;
}

.comfortscore-final-score {
    position: static;
    justify-content: center;
}
@media (min-width: 480px) {
	.comfortscore-final-score {
		margin-top: 1em;
	}
}

.comfortscore-swiper {
	margin: 0em -0.5em 0;
}

.comfortscore-field-wrap {
	margin: 1em 0;
}

.comfortscore-resume-score .comfortscore-potential {
	font-size: 1.2em;
	margin: 1.2em 0 0 -1em;
}

.comfortscore-box h3 {
	font-size: 20px;
	font-family: 'nationalemedium', sans-serif;
	font-weight: normal;
	line-height: 1.1;
	margin-top: 0;
}

.comfortscore-box {
    background: white;
    padding: 1em;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.comfortscore-box .comfortscore-email-field {
	border: 2px solid #FBA71A;
}

.comfortscore-check-field {
	font-size: 1em;
}

.comfortscore-notice p {
	font-size: 13px;
	color: #666;
}

.comfortscore-box .comfortscore-btn {
    background: #faa71a;
    border-color: #faa71a;
    margin: 0.5em 0 0;
}

.comfortscore-list {
	margin: 2em 0 3em;
}

.comfortscore-card-list .comfortscore-card {
	margin: 0 0 0.5em;
}

.comfortscore-card-list .comfortscore-param {
	width: auto;
	margin: 0 0.5em;
}

.comfortscore-title-centered {
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;
	font-weight: normal;
    font-family: 'nationalebold', sans-serif;
    margin: 0 0 1em;
    @media (min-width: 480px) {
    	margin-top: 1em;
    }
}

.comfortscore-container .comfortscore-partner-logo {
	width: auto;
}

.comfortscore-abstract h3 {
	margin: 0 0 0.2rem;
}

.comfortscore-card-counter {
	text-align: right;
	margin: 0;
	opacity: 0.6;
}

.comfortscore-text .comfortscore-card-counter {
	font-size: 12px;
}

.modal-content  {
    -webkit-border-radius: 100px !important;
    -moz-border-radius: 100px !important;
    border-radius: 100px !important;
}
