.comfortscore-container .potential {
    background: #02576d;
    z-index: 1;
    margin: 2em 0 0 -1.2em;
    font-size: 1.2em;
}

.comfortscore-container .potential .score,
.comfortscore-container .potential .label {
    color: white;
}

.comfortscore-container .finalscore {
    position: static;
    justify-content: center;
    margin-top: 1em;
}

.nav-btn {
    font-size: 24px;
}

.nav-btn-v {
    font-size: 24px;
    text-align: left;
    display: block;
    width: 90%;
    margin: 5%;
    height: 45%;
}

.resultBox {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

.resultBox button {
    margin: auto;
}

.resultBox button:hover {
    background-color: #98C99D;
}
