.comfortscore-twocol {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 0 1em;
}

@media (min-width: 480px) {
    .comfortscore-twocol {
        flex-direction: row-reverse;
        margin-top: 1em;
    }
}

.comfortscore-col {
    width: 100%;
    position: relative;
    margin-bottom: 1em;
}

@media (min-width: 480px) {
    .comfortscore-col {
        width: 47.78%;
        margin-bottom: 0;
    }
}

.comfortscore-sliders {
    margin: 1em 0;
}

@media (min-width: 480px) {
    .comfortscore-sliders {
        margin-top: 0;
    } 
}

.comfortscore-map {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 61.6%;
    overflow: hidden;
    background: #4A848A;
}

.comfortscore-map img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.comfortscore-wrapper {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
    display: flex;
}

.comfortscore-current,
.comfortscore-potential {
    width: 8em;
    height: 8em;
    margin: 0;    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: white;
    border: 4px solid #02576d;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 0.8em;
}

@media (min-width: 480px) {
    .comfortscore-current,
    .comfortscore-potential {
        font-size: 1em;
    }
}

.comfortscore-score {
    font-size: 2.875em;
    font-family: 'nationaleregular', sans-serif;
    color: #02576d;
    line-height: 1;
}

.comfortscore-current .comfortscore-score {
    opacity: 0;
    -webkit-animation: zoomIn 0.75s ease-out forwards;
    animation: zoomIn 0.75s ease-out forwards;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 1;
  }
}

