.image-0::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/0.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}

.image-0::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/0.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}

.image-1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/1.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}

.image-1::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/1.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}

.image-2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/2.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}

.image-2::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/2.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}

.image-3::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/3.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}

.image-3::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/3.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}

.image-4::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/4.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}

.image-4::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border: 0;
    background: url('/assets/faces/4.png');
    background-color: #94CB9C;
    border-radius: 25px;
    cursor: pointer;
}
