.comfortscore-row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1em;
    align-items: center;
}

.comfortscore-param {
    width: 18%;
    text-align: center;
    overflow: hidden;
}

.comfortscore-param img {
    width: auto;
    height: 32px;
}

.comfortscore-param .comfortscore-label {
    text-transform: uppercase;
}

.comfortscore-slider-col {
    width: 78%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.comfortscore-slide-container {
    width: 100%;
}

.comfortscore-slider-col .comfortscore-label {
    color: #8da8a3;
    margin-top: -15px;
}

.comfortscore-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 1em;
    height: 48px;
    margin: 0;
    padding: 0;
    background: transparent;
}
.comfortscore-slider:focus {
    outline: none;
}
.comfortscore-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animation-duration: 0.2s;
    background: #bde1da;
    border-radius: 4.5px;
}
.comfortscore-slider::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animation-duration: 0.2s;
    background: #bde1da;
    border-radius: 4.5px;
}
.comfortscore-slider::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animation-duration: 0.2s;
    background: #bde1da;
    border-radius: 4.5px; 
    border-color: transparent;
    color: transparent;
}

.comfortscore-slider::-ms-fill-lower {
    background: transparent;
}

.comfortscore-slider::-ms-fill-upper {
    background: transparent;
}