.comfortscore-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 56px;
    height: 56px;
    border: none;
    background: #ebf6f6 url('../assets/faces/0.png') no-repeat 50%;
    background-size: 46px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.1s linear;
    transform: translateY(-23px);
}

.comfortscore-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 56px;
    height: 56px;
    border: none;
    background: #ebf6f6 url('../assets/faces/0.png') no-repeat 50%;
    background-size: 46px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.1s linear;
}

.comfortscore-slider::-ms-thumb {
    appearance: none;
    width: 56px;
    height: 56px;
    border: none;
    background: #ebf6f6 url('../assets/faces/0.png') no-repeat 50%;
    background-size: 46px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.1s linear;
    transform: translateY(0%);
}

.comfortscore-slider::-ms-tooltip { 
    display: none 
}

.comfortscore-image-1::-webkit-slider-thumb {
    background-image: url('../assets/faces/1.png');
}

.comfortscore-image-1::-moz-range-thumb {
    background-image: url('../assets/faces/1.png');
}

.comfortscore-image-1::-ms-thumb {
    background-image: url('../assets/faces/1.png');
}

.comfortscore-image-2::-webkit-slider-thumb {
    background-image: url('../assets/faces/2.png');
}

.comfortscore-image-2::-moz-range-thumb {
    background-image: url('../assets/faces/2.png');
}

.comfortscore-image-2::-ms-thumb {
    background-image: url('../assets/faces/2.png');
}

.comfortscore-image-3::-webkit-slider-thumb {
    background-image: url('../assets/faces/3.png');
}

.comfortscore-image-3::-moz-range-thumb {
    background-image: url('../assets/faces/3.png');
}

.comfortscore-image-3::-ms-thumb {
    background-image: url('../assets/faces/3.png');
}

.comfortscore-image-4::-webkit-slider-thumb {
    background-image: url('../assets/faces/4.png');
}

.comfortscore-image-4::-moz-range-thumb {
    background-image: url('../assets/faces/4.png');
}

.comfortscore-image-4::-ms-thumb {
    background-image: url('../assets/faces/4.png');
}