.comfortscore-container * {
    box-sizing: border-box;
    font-family: sans-serif;
}

.comfortscore-container img {
    width: 100%;
    height: auto;
}

.comfortscore-container {
    max-width: 940px;
}

.comfortscore-btn {
    display: inline-block;
    padding: 0 0.75em;
    background: #02576d;
    color: white;
    font-weight: normal;
    font-size: 13px;
    font-family: 'nationalemedium', sans-serif;
    text-transform: uppercase;
    border: 2px solid #02576d;
    border-radius: 14.5px;
    height: 1.9333rem;
    line-height: 1;
    min-width: 0;
    margin: 0;
    vertical-align: initial;
}
@media (min-width: 600px) {
    .comfortscore-btn {
        font-size: 15px;
    }
}

.comfortscore-btn:focus,
.comfortscore-btn:hover,
.comfortscore-btn:active {
    outline: none;
    background: #bde1da;
    color: #02576d;
}

.comfortscore-top {
    background: #8fccbe;
    padding: 1em;
    border: 3px solid white;
    border-radius: 38.5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.comfortscore-top h2 {
    margin: 0;
    font-weight: normal;
    font-family: 'nationaleregular', sans-serif;
    font-size: 18px;
    width: 100%;
    transition: all 0.2s ease-out;
}

@media (min-width: 700px) {
    .comfortscore-top h2 {
        font-size: 22px;
    }
}

.comfortscore-top h2 strong {
    font-family: 'nationalebold', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: black;
}

.comfortscore-top h2::before {
    content: "";
    width: 46px;
    height: 34px;
    display: inline-block;
    vertical-align: -0.6em;
    background: url('assets/heart_icon.png') no-repeat 50%;
    background-size: 100% auto;
    margin-right: 0.4em;
}

@media (min-width: 700px) {
    .comfortscore-top h2::before {
        vertical-align: -0.4em;
    }
}

.comfortscore-activated h2 {
    width: 100%;
}

.comfortscore-content {
    background: #ebf6f6;
    border: 3px solid white;
    position: relative;
    z-index: 1;
    margin-top: -38.5px;
    padding: 54.5px 1em 38.5px;
}

.comfortscore-action {
    background: #ebf6f6;
    border: 3px solid white;
    margin-top: -38.5px;
    border-radius: 38.5px;
    padding: 1em;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.comfortscore-label-btn {
    margin: 0 0 0.3em;
    font-family: 'nationaleregular', sans-serif;
    font-size: 1em;
    width: 100%;
    order: 1;
    text-align: right;
}

@media (min-width: 900px) {
    .comfortscore-label-btn {
        font-size: 1.125em;
    }
}

.comfortscore-btn-success {
    margin-left: auto;
    margin-top: 0.5em;
    cursor: pointer;
    order: 3;
}

@media (min-width: 480px) {
    .comfortscore-btn-success {
        max-width: 31%;
    }
}

.comfortscore-action .comfortscore-btn-success {
    margin-left: 1em;
}

.comfortscore-btn-back {
    margin-right: auto;
    margin-top: 0.5em;
    background-color: #bde1da;
    border-color: white;
    order: 2;
    color: #02576d;
}

.comfortscore-bubble {
    position: absolute;
    background: white;
    border-radius: .4em;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    padding: 0.7em;
    font-size: 13px;
    width: 14em;
    right: 1em;
    bottom: 83%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.comfortscore-bubble::before {
    right: 12px;
    content: "";
    position: absolute;
    bottom: -23px;
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-top-color: #d1dada;
    border-bottom: 0;
    border-left: 0;
}

.comfortscore-bubble::after {
    right: 1em;
    content: "";
    position: absolute;
    bottom: -20px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px
}

.comfortscore-bubble.animate {
    transform: scale(1);
    transform-origin: 100% 50%;
    opacity: 1;
}

.comfortscore-label {
    font-size: 0.75em;
    margin: 0;
}

.comfortscore-text p {
    font-size: 15px;
    line-height: 1.2;
}

.comfortscore-instruction p {
    font-size: 15px;
    font-family: 'nationalemedium', sans-serif;
    line-height: 1.3;
}

.comfortscore-abstract p {
    font-size: 17px;
    font-family: 'nationaleregular', sans-serif;
    line-height: 1.4;
    margin-top: 0;
}

.comfortscore-hidden {
    display: none;
}
